.text-center {
  text-align: center
}
.font12pt {
  font-size: 12pt
}
.font13pt {
  font-size: 13pt
}
.font14pt {
  font-size: 14pt
}
.font15pt {
  font-size: 15pt
}
.font16pt {
  font-size: 16pt
}
.font17pt {
  font-size: 17pt
}
.font18pt {
  font-size: 18pt
}
.font19pt {
  font-size: 19pt
}
.font20pt {
  font-size: 20pt
}
.font11pt {
  font-size: 11pt
}
.font12pt {
  font-size: 12pt
}